---
import { Icon } from "astro-icon";
const { hobby, icon=["python"], pack="logos"} = Astro.props;
---

<!-- <div>
  <div class="flex items-start font-bold md:text-2xl text-xl">
    <h3><a href={link} class="basis-5/6" target="_blank">{name}</a></h3>
    <span class="ml-auto">{year}</span>
  </div>
  
</div> -->

  <div class="mb-5 mr-auto">
    <h3 class="font-bold md:text-2.5xl text-1.5xl leading-none mb-1 flex flex-row items-center">
      {hobby} {icon.split(', ').map((icn) => (<Icon class="md:h-6 h-5 w-auto ml-3" name={pack + ":" + icn}/>))}
    </h3>
  </div>

