---
import { Icon } from "astro-icon";
const { skill, level="1", icon=["python"], pack="logos"} = Astro.props;
interface Props {
  i?: string;
}
---

<!-- <div>
  <div class="flex items-start font-bold md:text-2xl text-xl">
    <h3><a href={link} class="basis-5/6" target="_blank">{name}</a></h3>
    <span class="ml-auto">{year}</span>
  </div>
  
</div> -->

  <div class="mb-5 mr-auto">
    <h3 class="font-bold md:text-2.5xl text-1.5xl leading-none mb-1 flex flex-row items-center">
      {skill} {icon.split(', ').map((icn) => (<Icon class="md:h-6 h-5 w-auto ml-3" name={pack + ":" + icn}/>))}
    </h3>
    <p class="md:text-1.5xl text-xl">Proficiency: <i>{level === "1" ? "Novice" : level === "2" ? "Advanced Beginner" : level === "3" ? "Competent" : level === "4" ? "Proficient" : level === "5" ? "Expert" : "test"}</i></p>
  </div>

