---
const { title, subtitle, year, last=false} = Astro.props;
---

<div class="flex items-stretch">
  <div class="education__time">
    <span class="w-5 h-5 md:w-7 md:h-7 bg-primary-700 dark:bg-primary-500 block rounded-full mt-0.5 -mb-px"></span>
    <span class={`education__line bg-primary-700 dark:bg-primary-500 block ${last ? "h-4/5" : "h-[calc(100%+2px)]"} w-1 md:w-2 mx-auto`}></span>
  </div>
  <div class="experience__data bd-grid ml-3 w-full mb-5 basis-4/5 mr-auto">
    <h3 class="font-bold md:text-2xl text-xl leading-none md:mb-1 mb-2">{title}</h3>
    <h4 class="md:text-xl text-lg leading-tight -mr-[48.81px] md:-mr-[58.56px]">{subtitle}</h4>
  </div>
  <div class="year">
    <span class="font-bold md:text-2xl text-xl leading-none md:mb-1 mb-2">{year}</span>
  </div>
</div>
