---
import { SITE } from '~/config.mjs';
import { Icon } from 'astro-icon';
import Layout from "../layouts/PageLayout.astro";
import Histogram from '~/components/charts/Histogram.astro'
import Sales from "postJson/cleaning-the-iowa-liquor-sales-dataset/histogram_logSales.json"

const meta = {
  title: 'Chart Example',
  description: SITE.description,
  noindex: true,
  };
---
<Layout {meta}>
  <section class="min-h-small-screen grid place-items-center ">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js" integrity="sha512-d6nObkPJgV791iTGuBoVC9Aa2iecqzJRE0Jiqvk85BhLHAPhWqkuBiQb1xz2jvuHNqHLYoN3ymPfpiB1o+Zgpw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <Histogram id="wow" title="Histogram of Log Sales" width="200px" height=720 data={Sales}    />
  </section>

</Layout>
