---
import { Picture } from '@astrojs/image/components';

import { BLOG } from '~/config.mjs';
import type { Post } from '~/types';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);
---

<article class="mb-6 transition">
  <div class="relative bg-gray-400 dark:bg-slate-700 rounded-3xl shadow-lg mb-6">
    <a
      href={getPermalink(post.permalink, 'post')}
    >
    {
      image && (
        <Picture
          src={image}
          class="hover:scale-[1.05] active:scale-[1] transition duration-300 w-full h-full rounded-3xl shadow-lg bg-gray-400 dark:bg-slate-700"
          widths={[400, 900, 1200]}
          sizes="(max-width: 900px) 400px, (max-width: 1200px) 900px, 1200px"
          alt={post.title}
          aspectRatio="16:9"
          format="webp"
          loading="lazy"
          decoding="async"
        />
      )
    }
      </a>
  </div>
  <h3 class="mb-2 text-2xl font-bold sm:text-3xl font-serif">
    {
      BLOG?.post?.disabled ? (
        post.title
      ) : (
        <a
          href={getPermalink(post.permalink, 'post')}
          class="hover:text-spring-green-500 dark:hover:text-spring-green-400 transition duration-200"
        >
          {post.title}
        </a>
      )
    }
  </h3>
  <p class="text-gray-800 dark:text-slate-200 text-lg">{post.description}</p>
</article>
