---
import Item from '~/components/blog/GridItemWork.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<div class="grid lg:gap-20 gap-10 md:grid-cols-2 -mb-6">
  {posts.map((post) => <Item post={post} />)}
</div>
