---
import Item from '~/components/blog/ListItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<ul class="flex flex-col md:gap-y-28 gap-y-16">
  {
    posts.map((post) => (
      <li>
        <Item post={post} />
      </li>
    ))
  }
</ul>
