---
import { Icon } from 'astro-icon';
import { getPermalink } from '~/utils/permalinks';

export interface Props {
  prevUrl: string;
  nextUrl: string;
  prevText?: string;
  nextText?: string;
  pageNum?: string;
}

const { prevUrl, nextUrl, prevText = 'Previous', nextText = 'Next', pageNum } = Astro.props;
---

{
  (prevUrl || nextUrl) && (
      <div class="flex flex-row mx-auto container justify-between">
        <a href={getPermalink(prevUrl)} class={`btn md:px-6 px-3 ${!prevUrl ? 'invisible' : ''}`}>
          <div class="flex flex-row align-middle items-center">
            <Icon name="ph:arrow-left-bold" class="w-6 h-6" />
            <p class="ml-2">{prevText}</p>
          </div>
        </a>
        <div class="infline-flex justify-center items-center my-3.5">
          <p class="ml-2">{pageNum === 1 ? '' : pageNum}</p>
        </div>
        <a href={getPermalink(nextUrl)} class={`btn md:px-6 px-3 ${!nextUrl ? 'invisible' : ''}`}>
          <div class="flex flex-row align-middle items-center">
            <span class="mr-2">{nextText}</span>
            <Icon name="ph:arrow-right-bold" class="w-6 h-6" />
          </div>
        </a>
      </div>
  )
}
