---
import { getPermalink } from '~/utils/permalinks';

import { BLOG } from '~/config.mjs';
import type { Post } from '~/types';

export interface Props {
  tags: Post['tags'];
  class?: string;
}

const { tags, class: className = 'text-base' } = Astro.props;
---

{
  tags && Array.isArray(tags) && (
    <ul class={className}>
      {tags.map((tag) => (
        <li class="inline-block mr-2 mb-2">
          {BLOG?.tag?.disabled ? (
            tag
          ) : (
            <a
              href={getPermalink(tag, 'tag')}
              class="text-gray-600 dark:text-slate-200 hover:text-white dark:hover:text-white rounded-md py-0.5 px-2 bg-gray-200 hover:bg-primary-700 transition duration-200 dark:hover:bg-primary-600 dark:bg-slate-700"
            >
              {tag}
            </a>
          )}
        </li>
      ))}
    </ul>
  )
}
